// import the base SCSS mixins, variables etc for use in all your components
@import './styles/utils/base';
@import './styles/reset.scss';
// TODO: replace the following styles once you start!
.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  &__cardContent {
    display: flex;
    margin-left: 200px;
    margin-top: 52px;
    width: 1040px;
    height: 1400px;
  }

  &__column1 {
    width: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__column2 {
    width: 315px;
    margin-left: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 

  &__column3 {
    width: 315px;
    margin-left: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  width: 1440px;
  height: 2679px;
  background-color: $default-background;
}

.maintest{
  width: 1039px;
  height: 245px;
  text-align: left;
  padding-left: 200px;
  &__head{
    font-family: "Lato";
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  &__p{
    font-family: "Lato";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #858585;
  }
}