// import the base SCSS mixins, variables etc for use in all your components
@import './styles/utils/base';

// TODO: replace the following styles once you start!
.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  &__cardContent {
    display: flex;
    margin-left: 200px;
    margin-top: 52px;
    width: 1040px;
    flex-wrap: wrap;
  }
}

