
.card3 {
    width: 100%;
    height: 770px;
    border-radius: 6px;
    border: solid 1px #979797;

    &:hover {
        border-color: rgb(117, 146, 223)
    }
    &__image2{
        margin-right: 65px;
    }
    &__heading{
            width: 294px;
            height: 40px;
            font-family: "Lato";
            font-size: 24px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: var(--black);
    }
    &__text{
        width: 285px;
        height: 190px;
        font-family: "Lato";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #6e6e6e;
        text-align: left;
        padding-left: 7px;
    }
    &__text2{
        width: 230px;
        height: 16px;
        font-family: "Lato";
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #6e6e6e;
        padding-top: 5px;
        text-align: left;
        padding-left: 7px;
    }
    &__text3{
        width: 230px;
        height: 47px;
        font-family: "Lato";
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #6e6e6e;
        padding-top: 5px;
        text-align: left;
        padding-left: 7px;
    }
}