
.main {
    width: 1039px;
    height: 645px;
    border: solid 1px #979797;
    border-radius: 6px;
    margin-left: 200px;

    &__search-bar {
        background-image: url(../../assets/icons/Icon-search.svg);
        background-position: 1rem 0.75rem ;
        background-repeat: no-repeat;
        border: solid 1px #ffffff;
        width: 949px;
        margin-bottom: 46px;
        text-indent: 2.5rem;
        height: 40px;
        padding-top: 12px;
        font-size: 1rem;
        outline: none;
        resize: none;
        border-radius: 2px;
        margin-top: 556px;
    }
}