@import '../../styles/utils/base';

.header{
    display: flex;
    &__heading{
        font-family: 'Lato';
        font-size: 21px;
        letter-spacing: -0.04px;
        width: 149px;
        height: 25px;
        margin-left: 654px;
        margin-top: 39px;
        margin-bottom: 17px;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        width: 35px;
        height: 35px;
        align-self: center;
    }
    &__user-one{
        margin-left: 351px;
        width: 25px;
        height: 25px;
        margin-top: 39px;
        margin-bottom: 17px;

    }
    &__settings{
        margin-left: 30px;
        width: 25px;
        height: 25px;
        margin-top: 39px;
        margin-right: 206px;
        margin-bottom: 17px;

    }
}